.grow
{
   
    transition: all 0.5s ease-in-out; 
}
.grow:hover
 {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .content
  {
      background-color:black;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
  }

  a
{
    color: rgb(255, 255, 255);
    text-decoration:none;
    margin-top:50px;
    font-weight:500;
    font-size:20px;
}
.container
{
    background-color: rgb(31, 31, 34);
    height:10%;
    border-top: 0.1mm  black solid;
    border-bottom: 0.1mm  black solid; 
}
.nav{
    word-spacing:20px;
    margin: 0.5%;
    margin-left: 0;
    margin-right: 0;
}
.nav-botton{
    color:rgb(168, 168, 168);
}
.nav-logo:hover {
    color: rgb(168, 168, 168);
    text-decoration: none;
}
.companys-logo{
    width:20%;
    padding-top:2%;
}
.video
{
   float: right;
   width: 55%;
   height:230px;
   padding:3%;
}
.text
{
    padding-top:5%;
    color:white;
    text-align: justify;
}
  

.transition
 {
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    margin-left:42%;
    margin-bottom:1%;
}
.transition:hover { background: rgba(255,255,255,.2); }

.transition:active { background: white; }

.cartinka
{
    width:200px;
}

.gamesss
{
    position: fixed;
    margin-top:3.2%;
}