a
{
    color: rgb(255, 255, 255);
    text-decoration:none;
    margin-top:50px;
    font-weight:500;
    font-size:20px;
}
.container
{
    background-color: rgb(31, 31, 34);
    height:10%;
    border-top: 0.1mm  rgb(31,31,34) solid;
    border-bottom: 0.1mm  rgb(31,31,34) solid; 
}
.nav{
    word-spacing:20px;
    margin: 0.5%;
    margin-left: 0;
    margin-right: 0;
}
.first-nav{
    margin-left:70%;
}
.nav-botton{
    color:rgb(168, 168, 168);
}
.nav-logo:hover {
    color: rgb(168, 168, 168);
    text-decoration: none;
}
.companys-logo{
    width:25%;
    padding-top:2%;
}
.video
{
   /* float: right; */

   width: 65%;
   height:350px;
   padding:3%;
}
.text
{
    /* padding-top:5%; */
    color:white;
    text-align: justify;
}
.content
{
    margin-top:1%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.transition {
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    margin-left:42%;
    margin-bottom:1%;
}
.transition:hover { 
    background: rgba(255,255,255,.2)
    ; }

.transition:active { background: white; }

  .advertising
{
    margin-top: 0;
    display: inline-block;
    color: white;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    outline: none;
}
.advertising:hover{
    color:rgb(168, 168, 168);
}   

.hide, .hide + label ~ div {
    display: none; 
}
.hide + label,
.hide:checked + label {
    padding: 0;
    color: rgb(168, 168, 168);
    cursor: pointer;
}
.hide:checked + label + div {
    display: block; 
    background: rgb(31, 31, 34);

}
